<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Heart Rate Visualization Demo</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
 </head>
  <body>

    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Heart Rate Visualization Demo</a>
        </div>
      </div>
    </div>

    <div class="container-fluid container-narrow">
      <%= yield %>
    </div>

  </body>
</html>